

body{
    background-color:#c5e7fc ;
}
nav{
    background-color: #023e7d;
    transition: 0.8s ease-in-out;
    border-bottom:0.4px solid #62a3e9 ;
    font-family: 'Poppins', sans-serif;
}

.logo{

    font-family: 'Caveat', cursive;
}



.nav-links a{

    transition: 0.7s ease-in-out;
}



.main-area{
    min-height: 93vh;
    flex-direction: column;
display: flex;
align-items: center;
justify-content: flex-start;
    
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    position: relative;
    
}


.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 23vh;
    font-size: 40px;
    background-color: #fbfbff;
    letter-spacing: 8px;
    word-spacing: 15px;
    text-decoration: underline;
    font-family: 'Caveat', cursive;

    font-family: 'Heebo', sans-serif;

    font-family: 'Open Sans Condensed', sans-serif;
 
}

.area-to-write{
    margin: 40px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 10px 10px grey;
}

.context{
    display: flex;

    align-items: stretch;
    align-content: flex-start;
    justify-content: space-around;
    background-color: #fbfbff;
    height: 100%;
    padding-left: 260px;
    padding-right: 260px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;

    
    
}

.resume{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px; 
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    letter-spacing: 3px;
    font-weight: bolder;
    border: 1px solid #023e7d;
    border-radius: 10px;
    background-color: #cee5f2;
    margin-bottom: 44px;
    
    font-family: 'Caveat', cursive;

    font-family: 'Open Sans Condensed', sans-serif;
    cursor:pointer;

    transition: 0.9s ease-in;
}

.resume:hover{
background-color: #023e7d;
color: white;

}


.about_hero{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}





